.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login__container {
  display: flex;
  flex-direction: column;
}

.login__container > img {
  height: 200px;
  object-fit: contain;
}

.login__button {
  background-color: rgb(104, 118, 167) !important ;
}
